.task-main {
  z-index: 2;
  border-color: rgb(163, 87, 9);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  background-color: rgb(36, 35, 32);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 16px;
  height: 72px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.task-main:hover {
  background-color: rgba(255, 131, 3, 0.1);
}

.task-container-text {
  z-index: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: rgb(240, 227, 202);
  font-family: "Roboto";
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 10px;
}
.task-container-text h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 22.78px;
  margin: 0;
}
.task-container-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  margin: 4px 0 0;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-actions {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.task-actions button {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  border-radius: 4px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  color: rgb(217, 217, 217);
  border: 1px solid rgb(163, 87, 9);
  border-radius: 4px;
}
.task-actions button:hover {
  background-color: rgba(255, 131, 3, 0.1);
}

.task-dropdown-menu {
  z-index: 1;
  visibility: hidden;
  display: none;
  opacity: 0;
  margin-top: 10px;
  margin-bottom: 16px;
  gap: 5px;
  justify-content: flex-end;
  transform: translateY(-30px);
  transition: visibility 0s 0.3s, opacity 1s ease, transform 1s ease;
}
.task-dropdown-menu button {
  padding: 0;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
}
.task-dropdown-menu button img {
  background-color: transparent;
  background: none;
  height: 36px;
  width: 36px;
  transition: 0.3s;
}
.task-dropdown-menu button img:hover {
  transform: scale(0.9);
}

.task-dropdown-menu.visible {
  z-index: 1;
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 1s ease;
}

#task-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.delete-btn {
  --glow-color: rgb(163, 87, 9, 1);
  --glow-spread-color: rgba(163, 87, 9, 1);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(27, 26, 23, 1);
  background: var(--btn-color);
  color: var(--glow-color);
  outline: none;
  border: 2px solid var(--glow-color);
  border-radius: 8px;
  box-shadow: 0 0 1px var(--glow-color), 0 0 4px 1px var(--glow-spread-color), inset 0 0 0.75px 0.25px var(--glow-color);
  text-shadow: 0 0 0.75px var(--glow-color);
  transition: all 0.3s;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
  height: 35px;
  width: 35px;
  align-items: center;
}
.delete-btn::after {
  pointer-events: none;
  content: "";
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2px);
  opacity: 0.7;
  transform: perspective(1.5px) rotateX("35deg") scale(1, 0.6);
}
.delete-btn:hover {
  background-color: rgba(255, 131, 3, 0.1);
  box-shadow: 0 0 5px 2.25px var(--glow-color), 0 0 12px 2px var(--glow-spread-color), inset 0 0 1.75px 1.25px var(--glow-color);
}
.delete-btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color), inset 0 0 0.5em 0.25em var(--glow-color);
}/*# sourceMappingURL=taskItem.css.map */