body {
  font-family: Arial, sans-serif;
  background-color: rgb(27, 26, 23);
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(27, 26, 23);
  padding: 20px;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.task-main {
  z-index: 2;
  border-color: rgb(163, 87, 9);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  background-color: rgb(36, 35, 32);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 16px;
  height: 72px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.task-main:hover {
  background-color: rgba(255, 131, 3, 0.1);
}

.task-container-text {
  z-index: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: rgb(240, 227, 202);
  font-family: "Roboto";
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 10px;
}
.task-container-text h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 22.78px;
  margin: 0;
}
.task-container-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  margin: 4px 0 0;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-actions {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.task-actions button {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  border-radius: 4px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  color: rgb(217, 217, 217);
  border: 1px solid rgb(163, 87, 9);
  border-radius: 4px;
}
.task-actions button:hover {
  background-color: rgba(255, 131, 3, 0.1);
}

.task-dropdown-menu {
  z-index: 1;
  visibility: hidden;
  display: none;
  opacity: 0;
  margin-top: 10px;
  margin-bottom: 16px;
  gap: 5px;
  justify-content: flex-end;
  transform: translateY(-30px);
  transition: visibility 0s 0.3s, opacity 1s ease, transform 1s ease;
}
.task-dropdown-menu button {
  padding: 0;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
}
.task-dropdown-menu button img {
  background-color: transparent;
  background: none;
  height: 36px;
  width: 36px;
  transition: 0.3s;
}
.task-dropdown-menu button img:hover {
  transform: scale(0.9);
}

.task-dropdown-menu.visible {
  z-index: 1;
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 1s ease;
}

#task-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.delete-btn {
  --glow-color: rgb(163, 87, 9, 1);
  --glow-spread-color: rgba(163, 87, 9, 1);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(27, 26, 23, 1);
  background: var(--btn-color);
  color: var(--glow-color);
  outline: none;
  border: 2px solid var(--glow-color);
  border-radius: 8px;
  box-shadow: 0 0 1px var(--glow-color), 0 0 4px 1px var(--glow-spread-color), inset 0 0 0.75px 0.25px var(--glow-color);
  text-shadow: 0 0 0.75px var(--glow-color);
  transition: all 0.3s;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
  height: 35px;
  width: 35px;
  align-items: center;
}
.delete-btn::after {
  pointer-events: none;
  content: "";
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2px);
  opacity: 0.7;
  transform: perspective(1.5px) rotateX("35deg") scale(1, 0.6);
}
.delete-btn:hover {
  background-color: rgba(255, 131, 3, 0.1);
  box-shadow: 0 0 5px 2.25px var(--glow-color), 0 0 12px 2px var(--glow-spread-color), inset 0 0 1.75px 1.25px var(--glow-color);
}
.delete-btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color), inset 0 0 0.5em 0.25em var(--glow-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 7, 7, 0.5);
  z-index: 9;
}

.edit-container {
  width: 90%;
  max-width: 500px;
  max-height: calc(100vh - 40px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  background-color: rgb(27, 26, 23);
  border-radius: 8px;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-top: 18px;
  padding-right: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.edit-container input[type=text],
.edit-container textarea {
  text-align: left;
  width: 100%;
  max-height: 290px;
  padding: 10px;
  border: 1px solid rgb(255, 131, 3);
  border-radius: 4px;
  background-color: rgb(36, 35, 32);
  color: rgba(240, 227, 202, 0.64);
  box-sizing: border-box;
}
.edit-container .edit-buttons {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
.edit-container .edit-buttons button {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  height: 24px;
  width: 64px;
  margin-right: 12px;
  margin-left: 12px;
  color: rgb(217, 217, 217);
  border: 1px solid rgb(163, 87, 9);
  border-radius: 4px;
  background-color: rgb(36, 35, 32);
}
.edit-container .edit-buttons button:hover {
  background-color: rgba(255, 131, 3, 0.1);
}

.info-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 18px;
  border: 1px solid rgb(255, 131, 3);
  border-radius: 8px;
  background-color: rgb(36, 35, 32);
  color: rgba(240, 227, 202, 0.64);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info-content button {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  height: 24px;
  width: 64px;
  color: rgb(217, 217, 217);
  border: 1px solid rgb(163, 87, 9);
  border-radius: 4px;
  background-color: rgb(36, 35, 32);
  margin-top: 10px;
}
.info-content button:hover {
  background-color: rgba(255, 131, 3, 0.1);
}
.info-content button img {
  width: 48px;
  height: 48px;
}

.share-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(255, 131, 3);
  border-radius: 8px;
  background-color: rgb(36, 35, 32);
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 80%;
  max-width: 500px;
  z-index: 10;
}
.share-menu button {
  width: 48px;
  height: 48px;
}
.share-menu button img {
  width: 48px;
  height: 48px;
}

.confirm-delete {
  width: 90%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(36, 35, 32);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgba(240, 227, 202, 0.64);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.confirm-delete::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: rgb(163, 87, 9);
  border-radius: 8px 8px 0 0;
}
.confirm-delete h2 {
  margin: 0;
  text-align: center;
}
.confirm-delete .confirm-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}
.confirm-delete button {
  font-size: 12px;
  padding: 8px 12px;
  margin: 0 10px;
  border: 1px solid rgb(255, 131, 3);
  border-radius: 4px;
  background-color: rgb(36, 35, 32);
  color: rgba(240, 227, 202, 0.64);
}
.confirm-delete button:hover {
  background-color: rgba(255, 131, 3, 0.1);
}

#task-form {
  display: flex;
  flex-direction: row;
}

#task-input-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: flex-start;
}

.task-input-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  width: 95%;
  box-sizing: border-box;
  height: 32px;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid rgb(255, 131, 3);
  border-radius: 4px;
  background-color: rgb(36, 35, 32);
  margin-bottom: 10px;
  color: rgba(240, 227, 202, 0.64);
}

.add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 2px solid rgb(163, 87, 9);
  border-radius: 8px;
  background-color: rgb(27, 26, 23);
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: rgb(163, 87, 9);
}
.add-button-container:hover {
  background-color: rgba(255, 131, 3, 0.1);
}/*# sourceMappingURL=style.css.map */